<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="boss/common/common :: commonHeader(~{::title},~{},~{::script})">
    <title>审核列表页</title>
    <script type="application/javascript" th:src="@{/js/boss/checkM.js}"></script></head>
<body>
<div class="main">
    <form id="searchForm" method="post">
        <table>
            <tr>
                <td>
                    接单号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="orderNo"></input>
                </td>
                <td>
                    接单人编号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="userNo"></input>
                </td>
                <td>
                    发布单号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="pubOrderNo"></input>
                </td>
                <td>
                    接单状态:
                </td>
                <td>
                    <select class="easyui-combobox" name="status" id="status">
                        <option value="" selected="selected">ALL</option>
                        <option th:each="entry:${indexDescMap.entrySet()}" th:value="${entry.getKey()}"><p th:text="${entry.getValue()}"/></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="7">
                </td>
                <td class="right" style="width: auto" align="right">
                    <a class="queryBtn l-btn">
                        <span class="l-btn-text">查询</span>
                    </a>
                    <a class="resetBtn l-btn">
                        <span class="l-btn-text">重置</span>
                    </a>
                </td>
            </tr>

        </table>
    </form>


</div>

<div>
    <div class='table-container'>
        <table id='checkMGrid'></table>
    </div>

</div>



</body>
</html>