<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="boss/common/common :: commonHeader(~{::title},~{},~{::script})">
    <title>延期管理</title>
    <script type="application/javascript" th:src="@{/js/boss/delayManage.js}"></script>
</head>
<body>
<div class="main">
    <form id="searchForm" method="post">
        <table>
            <!--<tr>
                <td>
                    接单号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="accOrderNo"></input>
                </td>

            </tr>-->
            <tr>
                <td>
                    订单号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="orderNo"></input>
                </td>

            </tr>
            <tr>
                <td>
                    发布人编号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="orderUserNo"></input>
                </td>

            </tr>

            <tr>
                <td colspan="7">
                </td>
                <td class="right" style="width: auto" align="right">
                    <a class="queryBtn l-btn">
                        <span class="l-btn-text">查询</span>
                    </a>
                    <a class="resetBtn l-btn">
                        <span class="l-btn-text">重置</span>
                    </a>
                </td>
            </tr>

        </table>
    </form>


</div>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDelayD()">Edit
        config</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDelayL()">Edit
        All</a>
</div>

<div>
    <div class='table-container'>
        <table id='delayMGrid'></table>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">调整发布单逾期时间</div>
        <div style="margin-bottom:10px;">
            <input name="orderNo"  class="easyui-textbox"  label="order no"
                   style="width:100%"/>
        </div>
        <div style="margin-bottom:10px">
            <input name="orderUserNo" class="easyui-textbox"  label="order user no"
                   style="width:100%"/>
        </div>
        <div style="margin-bottom:10px">
            <input name="addDay" class="easyui-textbox" required="true" label="add day" style="width:100%"/>
        </div>
        <div style="margin-bottom:10px">
            <input name="delayReason" class="easyui-textbox" required="true" label="delay reason" style="width:100%"/>
        </div>
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()"
               style="width:90px">Save</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
               onclick="cancel('dlg')" style="width:90px">Cancel</a>
        </div>
        <!--<div id="dlg-buttons1">-->
            <!--<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()"-->
               <!--style="width:90px">Save</a>-->
            <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"-->
               <!--onclick="cancel('editAll')" style="width:90px">Cancel</a>-->
        <!--</div>-->
    </form>
</div>

<!--<div id="editAll" class="easyui-dialog" style="width:400px"-->
     <!--closed="true" buttons="#dlg-buttons">-->
    <!--<form id="editOrderForm" method="post" style="margin:0;padding:20px 50px">-->
        <!--<div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">edit All</div>-->
        <!--<div style="margin-bottom:10px">-->
            <!--<input name="addHourL" class="easyui-textbox" required="true" label="add hourL" style="width:100%"/>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

</body>
</html>