<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="boss/common/common :: commonHeader(~{::title},~{},~{::script})">
    <title>用户token管理页面</title>
    <script type="text/javascript" th:src="@{/js/boss/wxUserToken.js}"></script>
</head>
<body>
<div class="main">
    <form id="searchForm" method="post">
        <table>
            <tr>
                <td>
                    用户编号:
                </td>
                <td>
                    <input class="easyui-textbox" type="text" name="userNo"></input>
                </td>

            </tr>

            <tr>
                <td colspan="7">
                </td>
                <td class="right" style="width: auto" align="right">
                    <a class="queryBtn l-btn">
                        <span class="l-btn-text">查询</span>
                    </a>
                    <a class="resetBtn l-btn">
                        <span class="l-btn-text">重置</span>
                    </a>
                </td>
            </tr>

        </table>
    </form>


</div>
<div>
    <div class='table-container'>
        <table id='MGrid'></table>
    </div>
</div>
</body>
</html>