
html {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.head {
    background-color: #3d3d3d;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.right {
    display: flex;
    align-items: center;
    height: 100%;
}

.right span {
    padding:0 20px;
}

.right img {
    margin-right: 10px;
    position: relative;
}

.logout {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.black {
    background: #000;
}

.left {
    width: 12%;
    height: 100%;
    background-color: #26344b;
}

.head-left {
    background-color: #3d3d3d;
    width: 12%;
    height: 70px;
    text-align: center;
    color:#45ab3a
}
.head-left span {
    font-size: 22px;
    line-height: 70px;
}

.item {
    width: 100%;
    height: 80px;
    border-top: 1px solid #7d7b7b;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
}

.foucs {
    background-color: #fff;
    color: #17C4BB;
}

.contentman {
    display: flex;
    height: 100%;

}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.content-right {
    width: 88%;
}

a {
    text-decoration: none;
}

.resetPwd {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}